*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.bigbox{
    width: 100%;
	/*height: 2000px;*/
	margin: 0 auto;
	background-color: #E7E7E7;
	/*最大宽度*/
	max-width: 640px;
	/*最小宽度*/
	min-width: 320px;
	border: 1px solid #DEDFDE;
}
/*头部箭头开始*/
.arrow_heard {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(33, 195, 255);
}
.arrow_heard > p:nth-child(1) {
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.arrow_heard > p:nth-child(2) {
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.arrow_heard > p:nth-child(3) {
    width: 90px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow_heard > p:nth-child(3) > b {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}
/*头部箭头结束*/
/*顶部搜索部分开始*/
.nav_pro{
	width: 100%;
	height: 99px;
	background: #ef4d4a;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_pro>div{
	width: 95%;
	height: 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_pro>div>p:nth-child(1){
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
}
.nav_pro>div>b{
	font-size: 25px;
	
	color: #FFFFFF;
}
.nav_pro>div>p:nth-child(3){
	width: 35%;
	height: 50px;
	background: #FFFFFF;
	border-radius: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*顶部搜索部分结束*/
/*保洁清洗部分开始*/
.clean{
	width: 100%;
	height: 454px;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clean>div{
	width: 90%;
	height: 430px;
	/*background: red;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.clean>div>div{
	width: 25%;
	height: 123px;
	/*background: orange;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
}
/*保洁清洗部分结束*/
/*到家精选开始*/
.home{
	width: 100%;
	height: 135px;
	background: #FFFFFF;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	}
.home>div{
	width: 50%;
	height: 90px;
	/*background: red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 20px;
	
	}
/*到家精选结束*/
/*立即上门开始*/
.now{
	width: 100%;
	height: 277px;
	background: #FFFFFF;
	margin-top: 20px;
}
.now>div{
	width: 100%;
	height: 110px;
	border-bottom: 1px solid #EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.now>div>div{
	width: 90%;
	height: 90px;
/*	background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.now>div>div>p:nth-child(1){
	font-size: 25px;
}
.now>div>div>p:nth-child(2){
	font-size: 20px;
}
.now>ul{
	width: 100%;
	height: 176px;
	/*background: orange;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.now>ul>li{
	width: 25%;
	height: 120px;
/*	background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
}
/*立即上门结束*/
/*房屋维修部分开始*/
.house{
	width: 100%;
	height: 277px;
	background: #FFFFFF;
	margin-top: 20px;
}
.house>div{
	width: 100%;
	height: 110px;
	border-bottom: 1px solid #EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.house>div>div{
	width: 90%;
	height: 90px;
/*	background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.house>div>div>p{
	font-size: 25px;
	font-weight: 600;
	color: #e7454a;
}

.house>ul{
	width: 100%;
	height: 176px;
	/*background: orange;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.house>ul>li{
	width: 25%;
	height: 176px;
    border-right: 1px solid #EFEFEF;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 30px;
}
/*房屋维修部分结束*/
/*家庭清洁开始*/
.home_cl{
	width: 100%;
	height: 177px;
	background: #FFFFFF;
	margin-top: 20px;
}
.home_cl>div{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home_cl>div>div{
	width: 90%;
	height: 80px;
/*	background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home_cl>div>div>p{
	font-size: 25px;
	font-weight: 600;
	color: #e7454a;
}

.home_cl>ul{
	width: 100%;
	height: 76px;
	/*background: orange;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.home_cl>ul>li{
	width: 25%;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
}
/*家庭清洁结束*/
/*想要部分开始*/
.want{
	width: 100%;
	height: 111px;
	background: #FFFFFF;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.want>div{
	width: 90%;
	height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.want>div>p{
	font-size: 30px;
}
.want>div>span{
	font-size: 25px;
}
/*想要部分结束*/
/*查看更多部分开始*/
.more{
	width: 100%;
	height: 109px;
	border: 1px solid #EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.more>p{
	font-size: 30px;
}
/*查看更多部分结束*/
/*热门服务部分开始*/
.hot{
	width: 100%;
	height: 398px;
	background: #FFFFFF;
	border-bottom: 1px solid #EFEFEF;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.hot>ul{
	width: 100%;
	height: 80px;
/*	background: red;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.hot>ul>li{
	width: 25%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}
.hot>ul>li:hover{
	width: 25%;
	height: 77px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #e7454a;
	font-size: 30px;
}
.hot>div{
	width: 80%;
	height: 153px;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.hot>div>ul{
	width: 50%;
	height: 153px;
	/*background: pink;*/
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
}
.hot>div>ul>li{
	font-size: 30px;
}
.hot>p{
	font-size: 30px;
	color: #394142;
	font-weight: 600;
}
/*热门服务部分结束*/
/*底部开始*/
.footer{
	width: 100%;
	height: 102px;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer>li{
	width: 20%;
	height: 90px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
	flex-direction: column;
}
/*底部结束*/