*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.bigbox{
    width: 100%;
	/*height: 2000px;*/
	margin: 0 auto;
	background-color: #E7E7E7;
	/*最大宽度*/
	max-width: 640px;
	/*最小宽度*/
	min-width: 320px;
	border: 1px solid #DEDFDE;
}
/*头部箭头开始*/
.arrow_heard {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(33, 195, 255);
}
.arrow_heard > p:nth-child(1) {
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.arrow_heard > p:nth-child(2) {
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.arrow_heard > p:nth-child(3) {
    width: 90px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow_heard > p:nth-child(3) > b {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}
/*头部箭头结束*/
/*大图背景部分开始*/
.banner19{
	width: 100%;
	height: 385px;
	background: url(../img/banner19.jpg);
}
.banner19>div{
	width: 100%;
	height: 90px;
	background: rgba(45,45,45,0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 25px;
	color: #FFFFFF;
}
/*大图背景结束*/
/*网站建设部分开始*/
.build{
	width: 100%;
	height: 477px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.build>div{
	width: 90%;
	height: 460px;
	/*background: red;*/
	
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}
.build>div>ul{
	width: 100%;
	height: 212px;
	/*background: yellow;*/
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.build>div>ul>li{
	width: 24%;
	height: 212px;
	background: #18bade;
	font-size: 25px;
	color: #FFFFFF;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.build>div>ul>li:nth-child(1){
	width: 24%;
	height: 212px;
	background: #18bade;
	font-size: 25px;
	color: #FFFFFF;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.build>div>ul>li:nth-child(2){
	width: 24%;
	height: 212px;
	background: #f7a231;
	font-size: 25px;
	color: #FFFFFF;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.build>div>ul>li:nth-child(3){
	width: 24%;
	height: 212px;
	background: #ff596b;
	font-size: 25px;
	color: #FFFFFF;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.build>div>ul>li:nth-child(4){
	width: 24%;
	height: 212px;
	background: #5269de;
	font-size: 25px;
	color: #FFFFFF;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.build>div>div{
	width: 100%;
	height: 211px;
	/*background: pink;*/
	display: flex;
	
	align-items: center;
}
.build>div>div>div{
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	width: 24%;
	height: 211px;
	background: blue;
	font-size: 25px;
	color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}
/*网站建设部分结束*/
/*案例展示部分开始*/
.case{
	width: 100%;
	height: 56px;
	border-bottom: 2px solid #EFEFEF;
	background: #ffffff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 30px;
}
.case>p>span{
	font-size: 20px;
	color: #BDBEBD;
	margin-left: 20px;
}
.case_pro{
	width: 100%;
	height: 608px;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}
.case_pro>div{
	width: 30%;
	height: 192px;
	background: url(../img/case1.jpg) no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.case_pro>div>p{
	width: 100%;
	height: 30px;
	background: rgba(45,45,45,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-size: 20px;
}
/*案例展示部分结束*/
/*新闻中心部分开始*/
.news{
	width: 100%;
	height: 56px;
	border-bottom: 2px solid #EFEFEF;
	background: #ffffff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 30px;
}
.news>p>span{
	font-size: 20px;
	color: #BDBEBD;
	margin-left: 20px;
}
.news_pro{
	width: 100%;
	height: 463px;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	
}
.news_pro>div{
	width: 48%;
	height: 80px;
	/*background:red;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.news_pro>div>p{
	width: 48%;
	height: 70px;
	/*background:yellow;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 16px;
	
}
.news_pro>div>p>span:nth-child(1){
	color: #adaead;
	
}
/*新闻中心部分结束*/
/*团队文化部分开始*/
.team{
	width: 100%;
	height: 490px;
	background: #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.team_title{
	width: 100%;
	height: 37px;
/*	background: red*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 25px;
}
.team_title>span{
	font-size: 20px;
	color: #7B797B;
	margin-left: 10px;
}
.team_pro{
	width: 100%;
	height: 430px;
/*	background: yellow;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.team_pro>div{
	width: 49%;
	height: 430px;
	/*background: gray;*/
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}
.team_pro>div>div{
	width: 49%;
	height: 210px;
	/*background: red;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 30px;
	color: #FFFFFF;
}
/*团队文化部分结束*/
/*天度优势开始*/
.advantage{
	width: 100%;
	height: 56px;
	border-bottom: 2px solid #EFEFEF;
	background: #ffffff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 30px;
}
.advantage>p>span{
	font-size: 20px;
	color: #BDBEBD;
	margin-left: 20px;
}
.advantage_pro{
	width: 100%;
	height: 150px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.advantage_pro>div{
	width: 100%;
	height:120px;
	/*background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.advantage_pro>div>div{
	width: 20%;
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	
}
/*天度优势结束*/
/*地部开始*/
.footer9{
	width: 100%;
	height: 689px;
	background: url(../img/bot_bg.png);
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer9>div{
	width: 80%;
	height: 660px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 18px;
	color: #FFFFFF;
}
/*底部结束*/