*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.bigbox{
    width: 100%;
	height: 2000px;
	margin: 0 auto;
	background-color: #E7E7E7;
	/*最大宽度*/
	max-width: 640px;
	/*最小宽度*/
	min-width: 320px;
	border: 1px solid #DEDFDE;
}
/*头部箭头开始*/
.arrow_heard {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(33, 195, 255);
}
.arrow_heard > p:nth-child(1) {
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.arrow_heard > p:nth-child(2) {
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.arrow_heard > p:nth-child(3) {
    width: 90px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow_heard > p:nth-child(3) > b {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}
/*头部箭头结束*/
/*头部logo部分开始*/
.top_logo{
	width: 100%;
	height: 131px;
	background: #FFFFFF;
	border: 1px solid #EFEFF7;
	box-sizing: border-box;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
/*头部logo部分结束*/
/*大图背景开始*/
.banner{
	width: 100%;
	height: 258px;

	display: flex;
	justify-content: center;
	align-items: center;
}
/*大图背景结束*/
/*贵州特产部分开始*/
.tec{
	width: 100%;
	height: 196px;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.tec>div{
	width: 25%;
	height: 150px;
/*	background: red;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.tec>div>p{
	font-size: 30px;
	color: #000000;
}
/*贵州特产部分结束*/
/*新品热卖部分开始*/
.new{
	width: 100%;
	height: 102px;
	background: #FFFFFF;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.new>div{
	width: 95%;
	height: 80px;
/*	background:red;*/
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.new>div>p{
	font-size: 30px;
}
.new>div>p:nth-child(2){
	font-size: 30px;
	color: #DEDFDE;
}
.new_content{
	width: 100%;
	height: 605px;
	border: 1px solid #EFEFF7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.new_content>div{
	width: 95%;
	height: 595px;
/*	background: red;*/
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
}
.new_content>div>div{
	width: 49%;
	height: 277px;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	
}
.new_content>div>div>p:nth-child(2){
	font-size: 19px;

}
.new_content>div>div>p:nth-child(3){
	font-size: 18px;
    color: #b52637; 
}
.new_content>div>div>p:nth-child(3) del{
    color: #3C3C3C; 
}
/*新品热卖部分结束*/
/*贵州特产开始*/
.guizhou{
	width: 100%;
	height: 119px;
	background: #FFFFFF;
	border-bottom: 1px solid #EFEFF7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.guizhou>div{
	width: 95%;
	height: 60px;

	border-left: 10px solid #e86721;
	display: flex;
	justify-content: flex-end;
}
.guizhou>div>div{
	width: 96%;
	height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guizhou>div>div>p{
	font-size: 30px;
}
.guizhou>div>div>p:nth-child(2){
	font-size: 30px;
	color: #DEDFDE;
}
.gui_pro{
	width: 100%;
	height: 500px;
	background: #FFFFFF;
	border: 1px solid #EFEFF7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gui_pro>div{
	width: 95%;
	height: 450px;

	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;

}
.gui_pro>div>div{
	width: 30.3%;
	height: 220px;

}
.gui_pro2{
	width: 100%;
	height: 620px;
	background: #EFEFF7;
	border: 1px solid #EFEFF7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gui_pro2>div{
	width: 95%;
	height: 595px;
	/*background: red;*/
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	
}
.gui_pro2>div>div{
	width: 45%;
	height: 222px;
/*	background: yellow;*/
	
}
.banner9{
	width: 100%;
	height: 496px;
	border: 1px solid #EFEFF7;
	background: #EFEFF7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner9>div{
	width: 95%;
	height: 404px;

}
/*贵州特产结束*/
/*新闻中心开始*/
.news{
	width: 100%;
	height: 119px;
	background: #FFFFFF;
	border: 1px solid #EFEFF7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.news>div{
	width: 95%;
	height: 60px;

	border-left: 10px solid #e86721;
	display: flex;
	justify-content: flex-end;
}
.news>div>div{
	width: 96%;
	height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news>div>div>p{
	font-size: 30px;
}
.news>div>div>p:nth-child(2){
	font-size: 30px;
	color: #DEDFDE;
}
.news_pro{
	width: 100%;
	height: 781px;
	background: #FFFFFF;
	border: 1px solid #EFEFF7;
	display: flex;
	
	justify-content: center;
	align-items: center;
}
.news_pro>div{
	width: 92%;
	height: 750px;

	
}
.news_pro>div>div{
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #EFEFF7;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.news_pro>div>div>p{
	font-size: 25px;
	
}
.news_pro>div>div>p:nth-child(1),.news_pro>div>div>p:nth-child(3){
	font-size: 25px;
	color: #dfdfdf;
	
}
/*新闻中心结束*/
/*底部招商合作开始*/
.zhao{
	width: 100%;
	height: 368px;
	background: #EFEFF7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.zhao>div{
	width: 95%;
	height: 294px;
	background: red;
}
/*底部招商合作结束*/
