*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.bigbox{
    width: 100%;
/*	height: 2000px;*/
	margin: 0 auto;
	background-color: #E7E7E7;
	/*最大宽度*/
	max-width: 640px;
	/*最小宽度*/
	min-width: 320px;
	border: 1px solid #DEDFDE;
}
/*头部箭头开始*/
.arrow_heard {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(33, 195, 255);
}
.arrow_heard > p:nth-child(1) {
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.arrow_heard > p:nth-child(2) {
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.arrow_heard > p:nth-child(3) {
    width: 90px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow_heard > p:nth-child(3) > b {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}
/*头部箭头结束*/
/*大图背景部分开始*/
.banner{
	width: 100%;
	height: 363px;
	background: url(../img/banner1.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner_pro{
	width: 90%;
	height: 300px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.search{
	width: 100%;
	height: 60px;
	background: #FFFFFF;
	border-radius: 15px;
	
}
.search>div{
	height: 60px;
	width:40%;
	display: flex;
	justify-content: space-around;
	align-items: center
}
.banner_pro>ul{
	width: 30%;
	height: 30px;

	display: flex;
	justify-content: space-around;
	align-items: center;	
}
.banner_pro>ul>li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #b5d3e7;	
}
/*大图背景部分结束*/
/*活动专区部分开始*/
.active{
	width: 100%;
	height: 176px;
	background: #FFFFFF;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.active>li{
	width: 20%;
	height: 130px;
/*	background: red;*/
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}
/*活动专区部分结束*/
/*当季热销部分开始*/
.hot_shop{
	height: 500px;
	background: #FFFFFF;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hot_shop>div{
	height:450px;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.hot_title{
	width: 100%;
	height: 40px;
/*	background: pink;*/
	display: flex;
	justify-content: flex-end;
}
.hot_title>div{
	width: 63%;
	height: 40px;
/*	background:yellow;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hot_title>div>p{
	font-size: 30px;
	color: #181c18;
}
.hot_title>div>p:nth-child(1){
	color: #181c18;
}
.hot_title>div>p:nth-child(2){
	color: #ef4152;
	font-weight: 700;
}
.hot_pro{
	width: 100%;
	height: 336px;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
}
.hot_pro>div{
	width: 30%;
	height: 336px;
/*	background: yellow;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.hot_pro>div>p:nth-child(2){
	font-size: 20px;
	color: #9c9a9c;
}
.hot_pro>div>p:nth-child(3){

	display: flex;
	justify-content: space-between;
}
.hot_pro>div>p:nth-child(3) span{
	font-size: 18px;
	color: #ff6d10;
}
.hot_pro>div>p:nth-child(3) del{
	font-size: 16px;
	color: #636563;
}
.hot_dot{
	width: 40%;
	height: 30px;
/*	background: pink;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.hot_dot>p{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #9c9a9c;
}
/*当季热销部分结束*/
/*平台自营开始*/
.proprietary{
	height: 434px;
	background: #FFFFFF;
	margin-top: 20px;
}
.pro_title{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #F7F5F7;
/*	background: pink;*/
	display: flex;
	justify-content: flex-end;
}
.pro_title>div{
	width: 63%;
	height: 40px;
/*	background:yellow;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pro_title>div>p{
	font-size: 30px;
	color: #181c18;
}
.pro_title>div>p:nth-child(1){
	color: #181c18;
}
.pro_title>div>p:nth-child(2){
	color: #ef4152;
	font-weight: 700;
}
.pro_content{
	width: 100%;
	height: 392px;
	background: #FFFFFF;
	display: flex;
}
.pro_left{
	width: 40%;
	height: 392px;
/*	background: yellow;*/
	border-right: 1px solid #F7F3F7;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.pro_left>div{
	width:100%;
	height: 100px;
/*	background: red;*/
}
.pro_left>div>p:nth-child(1){
	font-size: 25px;
	color: #ad2c29;
}
.pro_left>div>p:nth-child(1) span{
	font-weight: 700;
	color: #ad0000;
}
.pro_left>div>p:nth-child(2){
	font-size: 20px;
	color: #101410;
}
.pro_left>div>p:nth-child(2) span{
	font-size: 20px;
	color: #080808;
	font-weight: 700;
}



.pro_right{
	width:60%;
	height: 392px;
/*	background: red;*/
}
.top1{
	width: 100%;
	height: 127px;
/*	background: yellow;*/
border-bottom: 1px solid #F7F3F7;
	display: flex;
	justify-content: space-around;
}
.top1>div{
	width: 40%;
	height: 98px;
/*	background: pink;*/
}
.top1>div>p:nth-child(1){
	color: #31754a;
	font-size: 25px;
}
.top1>div>p:nth-child(2){
	color: #424542;
	font-size: 20px;
}
.bot_pro{
	width: 100%;
	height: 264px;
/*	background: pink;*/
	display: flex;
	display: flex;
	justify-content: space-between;
}
.bot1{
	width: 50%;
	/*height: 264px;
	background: orange;*/
	border-right: 1px solid #F7F5F7;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.bot1>div{
	width: 100%;
	height: 70px;
/*	background: blanchedalmond;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.bot1>div>p:nth-child(1){
	font-size: 25px;
	color: #298231;
}
.bot1>div>p:nth-child(2){
	font-size: 20px;
	color: #a5a6a5;
}
.bot2{
	width: 50%;
	height: 264px;
/*	background: orange;*/
	border-right: 1px solid #F7F5F7;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.bot2>div{
	width: 100%;
	height: 70px;
/*	background: blanchedalmond;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.bot2>div>p:nth-child(1){
	font-size: 25px;
	color: #298231;
}
.bot2>div>p:nth-child(2){
	font-size: 20px;
	color: #a5a6a5;
}
/*平台自营结束*/
/*特产总汇开始*/
.all{
	width: 100%;
	height: 610px;
	background: #FFFFFF;
	margin-top: 20px;
}
.all_title{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #F7F5F7;
/*	background: pink;*/
	display: flex;
	justify-content: flex-end;
}
.all_title>div{
	width: 63%;
	height: 40px;
/*	background:yellow;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.all_title>div>p{
	font-size: 30px;
	color: #181c18;
}
.all_title>div>p:nth-child(1){
	color: #181c18;
}
.all_title>div>p:nth-child(2){
	color: #ef4152;
	font-weight: 700;
}
.all_content{
	width: 100%;
	height:369px;
/*	background: pink;*/
/*	display: flex;*/
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.all_Pro{
	width: 49%;
	height: 183px;
	border-right: 1px solid #F7F3F7;
	border-bottom: 1px solid #F7F3F7;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.all_Pro>div{
	width: 100%;
	height: 183px;
/*	background: red;*/
	display: flex;
	justify-content: space-between;
}
.all_Pro>div>div{
	width: 55%;
	height: 100px;
/*	background: yellow;*/
}
.all_Pro>div>div>p:nth-child(1){
	font-size: 25px;
	color: #101010;
}
.all_Pro>div>div>p:nth-child(2){
	font-size: 20px;
	color: #ff6d6b;
}
.bot_content{
	width: 100%;
	height: 198px;
/*	background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bot_content>div{
	width: 25%;
	height: 198px;
/*	background: pink;*/
	border-right: 1px solid #F7F5F7;
}
.bot_content>div>img{
	margin-left: 30px;
}
.bot_content>div>div>p:nth-child(1){
	font-size: 25px;
	color: #101010;
}
.bot_content>div>div>p:nth-child(2){
	font-size: 20px;
	color: #ff6d6b;
}
/*特产总汇结束*/
/*手工编织部分开始*/
.make{
	width: 100%;
	height: 300px;
	background: #FFFFFF;margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.make>div{
	width: 95%;
	height: 260px;
/*    background: red;*/
    display: flex;
    justify-content: space-between;
}
.make_pro{
	width: 40%;
	height: 260px;
/*	background: pink;*/
	display: flex;
	justify-content: space-around;

	flex-direction: column;
}
.make_pro>p:nth-child(2){
	font-size: 20px;
	color: #212021;
}
.make_pro>p:nth-child(3){
	font-size: 17px;
	color: #ff6d10;
}
/*手工编织部分结束*/
/*猜你喜欢部分开始*/
.like_title{
	width: 100%;
	height: 69px;
	background: #FFFFFF;
	border: 1px solid #F7F3F7;
	text-align: center;
	line-height: 69px;
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #181C18;
}
.like_pro{
	width: 100%;
	height: 2083px;
	background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.like_item{
	width: 33.1%;
	height: 347px;
	border-bottom: 1px solid #F7F3F7;
	border-right: 1px solid #F7F3F7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.like_item>div{
	width: 95%;
	height: 320px;
/*	background: red;*/
	display: flex;
	justify-content: space-around;

	flex-direction: column;
	
}
.like_item>div>p:nth-child(2){
	font-size: 20px;

}
.like_item>div>p:nth-child(3){
	font-size: 20px;
	display: flex;
	justify-content: space-between;

}
.like_item>div>p:nth-child(3) span{
	color: #ff8a42;

}
.like_item>div>p:nth-child(3) del{
	color: #ada6a5;

}
/*猜你喜欢部分结束*/
/*底部开始*/
.footer{
	width: 100%;
	height: 100px;
	background: #FFFFFF;
	border: 1px solid #F7F3F7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer>div{
	width: 25%;
	height: 60px;
/*	background:red;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

}
/*底部结束*/